@"

# Python
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env
.env.*
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

"@ | Add-Content .\.gitignore